In [1]:
import pandas
pandas.__version__

'0.23.4'

CSV is from https://www.bowl.com/Open_Championships/Open_Championships_Home/Past_Results_and_History/

If regular expressions are known to us, then we can define a delimiter

In [2]:
dframe = pandas.read_csv("bowling_stats.csv",
                            header=None,
                            names=['year','city','state','count'],
                            sep=',\s',engine='python')

dframe.head()

   year       city  state   count
0  2018   Syracuse   N.Y.   7,556
1  2017  Las Vegas   Nev.  10,286
2  2016       Reno   Nev.   8,063
3  2015    El Paso  Texas   7,315
4  2014       Reno   Nev.   9,024

In [3]:
dframe.dtypes

year     object
city     object
state    object
count    object
dtype: object

In [4]:
dframe=dframe.drop(73)

In [5]:
dframe['year']=pandas.to_numeric(dframe['year'])

In [6]:
dframe.dtypes

year      int64
city     object
state    object
count    object
dtype: object

In [7]:
dframe['count']=pandas.to_numeric(dframe['count'])

ValueError: Unable to parse string "7,556" at position 0