In [1]:
!pip install Faker

Requirement already satisfied: Faker in /opt/conda/lib/python3.6/site-packages (1.0.2)
Requirement already satisfied: python-dateutil>=2.4 in /opt/conda/lib/python3.6/site-packages (from Faker) (2.7.4)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.6/site-packages (from Faker) (1.11.0)
Requirement already satisfied: text-unidecode==1.2 in /opt/conda/lib/python3.6/site-packages (from Faker) (1.2)

In [8]:
import time
import pandas
print('pandas',pandas.__version__)

pandas 0.23.4

In [2]:
from faker import Faker
fake = Faker()

In [4]:
def create_df(num_rows):
    """
    create a dataframe containing fake data
    """
    df = pandas.DataFrame()
    for i in range(num_rows):
        row_dict={'word':fake.words(1)[0], 
              'state':fake.state(), 
              'num':i/10,
              'city':fake.city(), 
              'another word':fake.words(1)[0],
              'email':fake.email(),
              'name':fake.name(),
              'fixed':fake.url(),
              'val':fake.latitude(),
              'country':fake.country()}
        df = df.append(row_dict, ignore_index=True)
    return df

what does the dataframe look like?

In [7]:
start_time=time.time()
df = create_df(4)
print('elapsed',time.time()-start_time,'seconds')
df.head()

elapsed 0.14256763458251953 seconds

,another word,city,country,email,fixed,name,num,state,val,word
0,parent,North Belinda,Belarus,fware@hotmail.com,https://www.smith.net/,Benjamin Morris,0.0,Georgia,26.665743,pressure
1,apply,Christophermouth,Wallis and Futuna,browncole@gmail.com,https://osborne.com/,Francis Kirk,0.1,Georgia,-51.9111905,wish
2,base,Joshuafurt,Luxembourg,kingrobert@gmail.com,https://www.cole.com/,Renee Clark,0.2,Missouri,60.704370,story
3,source,Millerborough,Madagascar,mgillespie@hotmail.com,https://rodriguez-johnson.biz/,David Nixon,0.3,California,30.1639605,pay

how long does creating 1000 rows take?

In [9]:
start = time.time()
df = create_df(1000)
print('elapsed',time.time() - start,'seconds')
#df

elapsed 9.182282447814941 seconds

generation takes 10 seconds per 1000 rows

When writing data we want to create a large dataframe.

Extrapolating from (10 seconds per 1000 rows), generating a dataframe with 4,000,000 rows would take 11 hours

In [10]:
# a loop to double the size of the dataframe
for indx in range(12): 
    df_copy= df.copy()
    df = pandas.concat([df, df_copy], ignore_index=True)

1000 rows x 10 gets 1024000 rows which is 133 MB and writes in 20 seconds

1000 rows x 11 gets 2048000 rows which is 269 MB and writes in 40 seconds

1000 rows x 12 gets 4096000 rows which is 540 MB and writes in 73 seconds

In [63]:
df.shape

(4096000, 10)

how long does it take to write the dataframe to CSV?

In [64]:
start = time.time()
df.to_csv('my_file.csv')
print('elapsed',round(time.time() - start,2),'seconds')

73.20809578895569 seconds

how big is the file on disk once written?

In [65]:
import os
statinfo = os.stat('my_file.csv')
print(statinfo.st_size/1000000,'MB')

540.642297 MB

how long does it take to read the file on disk into memory?

In [66]:
start = time.time()
df_in = pandas.read_csv('my_file.csv')
print('elapsed',round(time.time() - start,2),'seconds')

21.775399684906006 seconds