In [1]:
import numpy as np
import pandas as pd

###  Example:  Splitting values from one column into multiple new columns

Sometimes data will arrive merged together into a single cell that you wish were actually multiple columns.  A common example of this is dates.

In [2]:
from datetime import datetime, timedelta
df = pd.DataFrame({'date': [(datetime.today() + timedelta(days=d)).isoformat() for d in range(4)]})
df

                         date
0  2019-11-06T22:52:41.129634
1  2019-11-07T22:52:41.129691
2  2019-11-08T22:52:41.129718
3  2019-11-09T22:52:41.129743

In [3]:
date_df = df['date'].apply(lambda d: pd.Series(d.split('T')[0].split('-')))
date_df.columns = ['year', 'month', 'day']

pd.concat([df, date_df], axis=1)

                         date  year month day
0  2019-11-06T22:52:41.129634  2019    11  06
1  2019-11-07T22:52:41.129691  2019    11  07
2  2019-11-08T22:52:41.129718  2019    11  08
3  2019-11-09T22:52:41.129743  2019    11  09