In [1]:
import pandas
print('pandas',pandas.__version__)

pandas 0.23.4

In [2]:
!head RollingSystemDemand_20180901_0129.csv

HDR,ROLLING SYSTEM DEMAND
VD,20180601000000,25152
VD,20180601000500,25231
VD,20180601001000,25070
VD,20180601001500,25019
VD,20180601002000,24943
VD,20180601002500,24727
VD,20180601003000,24716
VD,20180601003500,24815
VD,20180601004000,24877

In [3]:
dframe = pandas.read_csv("RollingSystemDemand_20180901_0129.csv")

In [4]:
dframe.head()

               HDR  ROLLING SYSTEM DEMAND
VD  20180601000000                25152.0
VD  20180601000500                25231.0
VD  20180601001000                25070.0
VD  20180601001500                25019.0
VD  20180601002000                24943.0

In [5]:
dframe.dtypes

HDR                        int64
ROLLING SYSTEM DEMAND    float64
dtype: object

I don't like that Pandas is treating "VD" as the index, so I'm going to force the index to be numeric

In [6]:
dframe.index=range(len(dframe))
dframe.head()

              HDR  ROLLING SYSTEM DEMAND
0  20180601000000                25152.0
1  20180601000500                25231.0
2  20180601001000                25070.0
3  20180601001500                25019.0
4  20180601002000                24943.0

I don't like the column names, so I'm going to change those

In [7]:
dframe.dtypes

HDR                        int64
ROLLING SYSTEM DEMAND    float64
dtype: object

In [8]:
dframe.columns=['time of measurement','demand level']

In [9]:
dframe.head()

   time of measurement  demand level
0       20180601000000       25152.0
1       20180601000500       25231.0
2       20180601001000       25070.0
3       20180601001500       25019.0
4       20180601002000       24943.0

Up to this point, we have merely reconstructed the previous notebook.

Now let's inspect the time column again

In [10]:
dframe['time of measurement'][0:5]

0    20180601000000
1    20180601000500
2    20180601001000
3    20180601001500
4    20180601002000
Name: time of measurement, dtype: int64

Let's see what happens when we try to convert just those 5 rows to integers.

In [11]:
dframe['time of measurement'][0:5].to_string()

'0    20180601000000\n1    20180601000500\n2    20180601001000\n3    20180601001500\n4    20180601002000'