# functional approach in Python:<BR> Map, filter, reduce, apply

* `map`: execute a function on each element of a list or series
* `filter`: remove elements from a series
* `reduce`: join a list using an operator
* `apply`: execute a function on each element of an axis in Pandas

(Normally Python is imperative)
    
See <BR>
https://book.pythontips.com/en/latest/map_filter.html<BR>
http://www.bogotobogo.com/python/python_fncs_map_filter_reduce.php<BR>
http://manishamde.github.io/blog/2013/03/07/pandas-and-python-top-10/

# Map

Suppose I have a list

In [1]:
items = [1, 2, 3, 4, 5]

I want to square each element in the list.

Here's how to do that using a for loop:

In [2]:
squared = []
for x in items:
    squared.append(x ** 2)

Check the result:

In [3]:
squared

[1, 4, 9, 16, 25]

Alternatively, we could define a function which squares values

In [4]:
def sqr(x): return x ** 2

and then `map` that function to every element in the list

In [5]:
map(sqr, items)

In [6]:
list(map(sqr, items))

[1, 4, 9, 16, 25]

In [9]:
%timeit list(map(sqr, items))

6.61 µs ± 1.48 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [10]:
%timeit list(map(lambda x: x*x, items))

4.12 µs ± 771 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [11]:
list(map(sqr, range(5)))

[0, 1, 4, 9, 16]

# Filter

https://www.geeksforgeeks.org/filter-in-python/

In [12]:
items = [0,1,2,3,4,5,6,7,8,9]

I want a list with only the even values

In [13]:
result = []
for x in items:
    if x % 2 == 0: # modulo 
        result.append(x)

check the output list

In [14]:
result

[0, 2, 4, 6, 8]

alternatively, I could create a function that returns a true or false value per element

In [15]:
def even(x): return x%2==0 # a True or False value

In [16]:
list(filter(even, items))

[0, 2, 4, 6, 8]

# Reduce

In [17]:
from functools import reduce

In [18]:
items = [1,2,3,4]

In [19]:
result = 1
for x in items:
    result = result * x

In [20]:
result

24

In [21]:
def mult(x,y): return x*y

In [22]:
reduce(mult, items)

24

# apply

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html
https://www.geeksforgeeks.org/python-pandas-apply/
http://jonathansoma.com/lede/foundations/classes/pandas%20columns%20and%20functions/apply-a-function-to-every-row-in-a-pandas-dataframe/

In [23]:
import pandas
print('pandas',pandas.__version__)

pandas 0.23.4

In [24]:
# Create a dataframe from a list of dictionaries
rectangles = [
    { 'height': 40, 'width': 10 },
    { 'height': 20, 'width': 9 },
    { 'height': 3.4, 'width': 4 }
]

rectangles_df = pandas.DataFrame(rectangles)
rectangles_df

   height  width
0    40.0     10
1    20.0      9
2     3.4      4

In [25]:
# Use the height and width to calculate the area
def calculate_area(row):
    return row['height'] * row['width']

rectangles_df.apply(calculate_area, axis=1)

0    400.0
1    180.0
2     13.6
dtype: float64

In [26]:
rectangles_df['area'] = rectangles_df.apply(calculate_area, axis=1)
rectangles_df

   height  width   area
0    40.0     10  400.0
1    20.0      9  180.0
2     3.4      4   13.6

# bonus: applymap

The applymap operation can be used to apply the function to each element of the DataFrame.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.applymap.html

In [27]:
def add_one(x):
    return x+1

In [28]:
rectangles_df.applymap(add_one)

   height  width   area
0    41.0     11  401.0
1    21.0     10  181.0
2     4.4      5   14.6