# install xlsxwriter module

https://xlsxwriter.readthedocs.io/example_pandas_multiple.html

https://pbpython.com/improve-pandas-excel-output.html

In [1]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /opt/conda/lib/python3.6/site-packages (1.2.1)

In [2]:
import pandas as pd
print('pandas',pd.__version__)

pandas 0.23.4

In [3]:
# Create some Pandas dataframes from some data.
df1 = pd.DataFrame({'Data': [11, 12, 13, 14]})
df2 = pd.DataFrame({'Data': [21, 22, 23, 24]})
df3 = pd.DataFrame({'Data': [31, 32, 33, 34]})

In [4]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
excel_file='tmp_multiple.xlsx'
writer = pd.ExcelWriter(excel_file, engine='xlsxwriter')

In [5]:
# Write each dataframe to a different worksheet.
df1.to_excel(writer, sheet_name='Sheet1')
df2.to_excel(writer, sheet_name='Sheet2')
df3.to_excel(writer, sheet_name='Sheet3')

In [6]:
# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Now that we've saved the file, let's open it

by default Pandas only loads the first sheet (and doesn't indicate there are other sheets)

In [7]:
df=pd.read_excel(excel_file)
df

   Data
0    11
1    12
2    13
3    14

In [8]:
df1=pd.read_excel(excel_file,sheet_name=1)
df1

   Data
0    21
1    22
2    23
3    24

https://xlsxwriter.readthedocs.io/working_with_pandas.html

Alternatively,

In [9]:
xls = pd.ExcelFile(excel_file)
df1 = pd.read_excel(xls, 'Sheet1')
df2 = pd.read_excel(xls, 'Sheet2')

In [10]:
df1

   Data
0    11
1    12
2    13
3    14

In [11]:
df2

   Data
0    21
1    22
2    23
3    24